/*Elements*/


/*Classes*/

.feltBackground{
    background-image: url("../images/feltBackground.jpeg");
}

.header{
    height: 20vh;
    display: flex;
    background-color: black;
}

.textcolor {
    color: blanchedalmond;
}

.fontshadowing{
    color: white;
    font-family: 'Lobster', cursive;
    text-decoration: underline;
    text-shadow: 1px 1px 2px black, 0 0 1em gold, 0 0 0.2em blue;
}

.altshadowing{
    color: white;
    font-family: 'Lobster', cursive;
    text-decoration: underline;
    text-shadow: 1px 1px 2px black, 0 0 1em gold, 0 0 0.2em blue;
}

/*ID's*/

#playerNamer{
    width: 75%;
    font-size: 2em;
    background-color: blanchedalmond;
}

#whatShouldWe{
    color: black;
    font-family: 'Lobster', cursive;
    text-shadow: 1px 1px 2px blanchedalmond, 0 0 1em blanchedalmond, 0 0 0.2em blue;
}

#montyPython{
    width: 50%;
    margin: auto;
}

#kdawg{
    width: 50vw;
    height: 50vh;
    margin: auto;
}

#actionBar{

}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-image: url("/images/shufflebackground.gif");
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
.modalbtn{
    width: 75%;
}

/*!* The Close Button *!*/
/*.close {*/
/*    color: #aaa;*/
/*    float: right;*/
/*    font-size: 28px;*/
/*    font-weight: bold;*/
/*}*/

/*.close:hover,*/
/*.close:focus {*/
/*    color: black;*/
/*    text-decoration: none;*/
/*    cursor: pointer;*/
/*}*/