/*Elements*/


/*Classes*/

.feltBackground {
    background-image: url("../images/feltBackground.jpeg");
}

.header {
    height: 20vh;
    display: flex;
    background-color: black;
}
.hidden {
    display: none;
}

.textcolor {
    color: blanchedalmond;
}
.red {
    color: red;
}

.black {
    color: black;
}

.fontshadowing {
    color: white;
    font-family: 'Lobster', cursive;
    text-decoration: underline;
    text-shadow: 1px 1px 2px black, 0 0 1em gold, 0 0 0.2em blue;
}

.altshadowing {
    color: white;
    font-family: 'Lobster', cursive;
    text-decoration: underline;
    text-shadow: 1px 1px 2px black, 0 0 1em gold, 0 0 0.2em blue;
}

/*ID's*/

#playerNamer {
    width: 75%;
    font-size: 2em;
    background-color: blanchedalmond;
}

#whatShouldWe {
    color: black;
    font-family: 'Lobster', cursive;
    text-shadow: 1px 1px 2px blanchedalmond, 0 0 1em blanchedalmond, 0 0 0.2em blue;
}

/*#montyPython {*/
/*    width: 50%;*/
/*    margin: auto;*/
/*}*/
#setInitialBet {
    width: 35%;
}
#currentChips {
    position: fixed;
    font-size: 2em;
    left: 0px;
    bottom: 0px;
    text-decoration: none;
}

#currentBet {
    position: fixed;
    font-size: 2em;
    right: 0px;
    bottom: 0px;
    text-decoration: none;
}

#noChipsRestart {
    color: red;
}

#kdawg {
    width: 50vw;
    height: 50vh;
    margin: auto;
}

#tips {
    color: white;
}
#doubleDown{
    color: white;
}
#split {
    color: white;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 75%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-image: url("/images/shufflebackground.gif");
    background-size: cover;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.modalbtn {
    width: 75%;
}

.modalTextSizing {
    width: 60%;
    font-size: 1.5em;
    background-color: blanchedalmond;
}


/*MAKES THE PLAYING CARD IMAGE BACKGROUND*/
/* Source = https://github.com/selfthinker/CSS-Playing-Cards/blob/master/cards.css*/
.playingCard {
    display: inline-flex;
    width: 3em;
    height: 4.4em;
    border: 2px solid #666;
    border-radius: .3em;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    -khtml-border-radius: .3em;
    padding: .25em;
    margin: 0 .5em .5em 0;
    text-align: center;
    font-size: 1em; /* @change: adjust this value to make bigger or smaller cards */
    font-weight: normal;
    font-family: Arial, sans-serif;
    position: relative;
    background-color: #fff;
    -moz-box-shadow: .2em .2em .5em #333;
    -webkit-box-shadow: .2em .2em .5em #333;
    box-shadow: .2em .2em .5em #333;
}






